@{
    ViewBag.Title = "ShowReceptionist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Html.Action("ShowListRequest", "Home", new { type = 4 })*@
@section JsFooter{
    <script>
        $(document).ready(function () {
            // Load default type = 1
            $("#divLoader").show();
            $.ajax({
                url: "/Home/ShowListRequest",
                data: { type: 4 },
                contentType: 'application/html; charset=utf-8',
                type: "GET",
                dataType: 'html',
                success: function (response) {
                    $('#loadListRequest').html(response);
                    $("#divLoader").fadeOut(300);
                }
            });
        });
    </script>
}
<div id="loadListRequest">
</div>
